

html, body {
    max-width: 100%;
    overflow-x: hidden;
}



/* Barra superior */

.navbar-header{
    height: 35px;

}

.spancheck{
  text-align: center;
}
.navbar {min-height:30px;}

/* Imagen marca Barra superior */
.navbar-brand > img {

      height: 16px;
      margin-top: -6px;
      -o-object-fit: contain;
      object-fit: contain;

}

/* Barra de navegación izquierda*/
.navbar-fixed-left {
  width: 13vw;
  position: fixed;
  border-radius: 0;
  border-width: 0;
  background-color: white;
  margin-top: 35px;
}
.navbar-nav > li > a {padding-top:10px; padding-bottom:10px;}


/* div que contiene a barra navegación izquierda */
.sidebar{
  background-color: white;
  min-height: 100%;
  width: 13vw;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
  margin-top: 0;
}



/* Colores item seleccionado Barra de navegación izquierda*/
.navbar-fixed-left  .navbar-nav > .active > a,
.navbar-fixed-left  .navbar-nav > .active > a:hover,
.navbar-fixed-left  .navbar-nav > .active > a:focus {
    color: white;
    background: #58ACFA;

}


/* Colores al hacer hoover sobre item Barra de navegación izquierda */
.navbar-fixed-left  .navbar-nav  > li:hover,
.navbar-fixed-left  .navbar-nav > li:focus {
    background: #58ACFA;


}



/* items de barra navegación izquierda */

.navbar-fixed-left .navbar-nav > li a {
  color: #444444;
  font-size: 1.7vh;
  font-weight: bold;
  width: 13vw;
  font-weight: 300;
}


/* Titulo de cada sección */
h1{
  font-size: 5vh;
  color: #0B173B;
  font-family: ‘GearedSlab’, Helvetica, Arial, sans-serif;
  font-weight: 300;

  }

h4{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300 ;

  font-size: 2vh;
}

/* linea de subrayado del titulo de la seccón */

.main h1:after{
    content:' ';
    display:block;
    border:1px solid #0B173B;
}





/* iconos de bootstrap */
.glyphicon {
   margin-right: 15px;
}


/* div que contiene a todo el contenido */
.main{
  background-color: #F2F2F2;
  min-height: 100;
  margin-left: 13vw;
  width: calc(100vw - 13vw);
  font-weight: 300;
  margin-top: 35px;

}

/* panel que contiene la lista de topicos */

.content-panel{
  margin-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  border-color: white;
  padding-right: 20px;

}

/* panel que contiene el titulo */

.title-panel {
  background-color: transparent;
  border-color: transparent;
  border-width: 0;
  margin-top: 0px;
}

/* separacion en el panel de la lista de topicos */

.panel .panel-heading{
  background-color: white;
  padding-bottom: 0;
}

/*  rutas de acceso */
.breadcrumb{
  background-color: #E6E6E6;
  color: #444444;
  font-size: 1.5vh;
  height: 4vh;
  margin-bottom: 0;
}

/* div dentro del panel que contiene lista de topicos */
.lista{
  padding-left: 20px;
  padding-top: 20px;
  font-size: 2vh;

}



input[type=checkbox].css-checkbox {
              position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;

            }

            input[type=checkbox].css-checkbox + label.css-label {
              padding-left:35px;
              height:3vh;
              display:inline-block;
              line-height:30px;
              background-repeat:no-repeat;
              vertical-align:middle;
              cursor:pointer;

              background-size: 3vh 6vh;

            }

            input[type=checkbox].css-checkbox:checked + label.css-label {
              background-position: 0 -3vh;


            }
            label.css-label {
        background-image:url(checkbox.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;


}


/* texto de la marca kompaz*/
.name {
  font-size: 21px;
  color: white;
  padding-top: 2px;
  margin-left: -10px;

}




/* div que agrupa todo el content*/
.content{
  background-color: #F2F2F2;
  min-width: 100vw;
  min-height: 100vh;
}


.add-on .input-group-btn > .btn {

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}

.search{
  width: 13vw;
  margin-top: 10px;
  margin-right: 40px;
  float:right;


}
