


/*Css generales de la vista */


.ListasHome{	list-style-type: none ;padding:0;}
.ContenidoVistaHome .col-lg-6{ padding: 0; }
.ContenidoVistaHome .col-lg-3{ padding: 0; }
.ContenidoVistaHome {position: absolute;left: 0;right: 0;}
.ContenidoVistaHome .row{ margin-left:0; margin-right: 0;}
.ContenidoVistaHome .paginacion .dropdown,
.ContenidoVistaHome .paginacion .dropdown-toggle{ width: 140px;}






/*Sección Articulos*/


.botones{ background:linear-gradient(to right, rgba(0,0,0,0.001) 0%,rgba(0,0,0,0.25) 51%, rgba(0,0,0,0.6) 100%);height: 38%; width:70px;  position: absolute; right: 0;}

.ContenidoArticulos .margin-bottom{margin-bottom: 30px;}
.ContenidoArticulos .Div-Articulo{ float: left;height: 22em; background-color: #25353C; margin:0.916%; overflow-y: hidden; text-overflow: ellipsis; width: 31.5%; position:relative; margin-top: 0; margin-bottom: 20px;}
.ContenidoArticulos img {width:100%; object-fit: cover; height: 100%;}
.ContenidoArticulos .titulo-articulo {width: 100%;font-weight: bold;color: #EDEEEF;  font-size: 1.1875em; padding-left: 10px; padding-right: 10px; margin-top:2.5em;  overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2; /* number of lines to show */ line-height: 22px;        /* fallback */ max-height: 44px;}
.ContenidoArticulos .fuente-articulo {margin-bottom: 0.714em;color: #627E89;padding-left: 10px; padding-right: 10px; font-weight: bold; font-style:italic; font-size: 0.875em;display: inline-block;}
.ContenidoArticulos .resumen-articulo{color: #EDEEEF; padding-left: 10px; padding-right: 10px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; /* number of lines to show */ line-height: 1.1em;        /* fallback */ max-height: 3.2em;}
.resumen-articulo:after {content: '...'; margin-left: 0em;}
.ContenidoArticulos .Blue {float:left; background-color: #16a3aa; border-radius: 10px;width: max-content; height: 1.5625em; margin-bottom: 0.8em; margin-left: 10px; display: flex; align-items: center;}
.ContenidoArticulos .Green {float:left; background-color: #4a9e7c; border-radius: 10px;width: max-content; height: 1.5625em; margin-bottom: 0.8em; margin-left: 10px; display: flex; align-items: center;}
.ContenidoArticulos .Orange {float:left; background-color: #f7934c; border-radius: 10px;width: max-content; height: 1.5625em;   margin-bottom: 0.8em; margin-left: 10px; display: flex; align-items: center;}
.Div-Topico h5 {color: white;font-style:normal; font-size:0.76em; padding-left: 10px; padding-right: 10px; font-weight: bold; }
.texto-cargando{ text-align: center;color: white}
.div-image{height: 38%;}
.wrap-topicos {margin-top: 0.8em;}
.ContenidoArticulos .glyphicon-star.active{color:#FEDD34;border: 0;}
.ContenidoArticulos .glyphicon-star{margin-left: -5px;font-size: 1.2em;color:#EDEEEF; display: inline; top:0.15em;}
.ContenidoArticulos #image_recomendados {background-image:url('../Assets/kom2.svg');   text-indent: -10000px; background-repeat: no-repeat;  background-size: 100% 100%;}
.ContenidoArticulos #image_guardados {background-image:url('../Assets/kom2.svg');   text-indent: -10000px; background-repeat: no-repeat;  background-size: 100% 100%;}



/* Botones like dislike y guardar*/
.ContenidoArticulos .likes_count{   font-size: 0.5em; font-weight: bold; display: inline; float: left;  margin-right: 5px;margin-top: 0.6em; }
.ContenidoArticulos .dislikes_count{  font-size: 0.5em; font-weight: bold; display: inline; float: left; margin-right: 5px;margin-top: 0.3em;}


.ContenidoArticulos .glyphicon-bookmark{ right: 10px; top: 15%; color:#FCFCFC; font-size: 1.5em;  position: absolute;}
.ContenidoArticulos .glyphicon-bookmark:hover{border-bottom: solid; border-width: 2px;  border-color:rgba(88,114,124,1); color: rgba(88,114,124,1);}
.ContenidoArticulos .glyphicon-thumbs-up:hover {border-bottom: solid; border-width: 2px;  border-color:rgba(88,114,124,1); color: rgba(88,114,124,1);}
.ContenidoArticulos .glyphicon-thumbs-down:hover {border-bottom: solid; border-width: 2px;  border-color:rgba(88,114,124,1); color: rgba(88,114,124,1);}
.ContenidoArticulos .glyphicon-bookmark.active{ color: #FEDD34; border: 0;}
.ContenidoArticulos .glyphicon-thumbs-up.active {color:#46ADC1; border: 0;}
.ContenidoArticulos .div-thumbs-up { right: 10px; top: 45%; color: #FCFCFC; font-size: 1.5em;  position: absolute; color: #FCFCFC;}
.ContenidoArticulos .div-thumbs-down { right: 10px; top: 75%; color: #FCFCFC; font-size: 1.5em;  position: absolute; color: #FCFCFC; }
.ContenidoArticulos .div-thumbs-down.active { color:  #e55834; }
.ContenidoArticulos .div-thumbs-up.active { color:#46ADC1; }
.ContenidoArticulos .glyphicon-thumbs-down.active{ color: #e55834; border: 0;}
.ContenidoArticulos .infinite-scroll-component {margin-left: -0.916%; margin-right: -0.916%;}
.ContenidoArticulos .glyphicon-thumbs-up { transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);}




/* Mensajes si no hay temas*/
.ContenidoVistaHome .MensajeSinTemas {text-align: center; color: #6B828F; margin-top: 5em; font-size: 1.1em; font-weight: bold;}
.ContenidoVistaHome .MensajeSinTemas > a {margin-top: 2em;}
.ContenidoVistaHome .MensajeSinTemas #EmptyBox { width: 10em; margin-bottom: 2em;}






@media (max-width: 1360px) {
    .Div-Topico h5 {font-size: 0.6em;}
    .ContenidoArticulos .Div-Articulo {height: 24em;}
}


@media (max-width: 1200px) {
  .ContenidoArticulos .Div-Articulo {width: 48%; }
}

@media (max-width: 767px) {
    .ContenidoArticulos .botones { right: 0;}
	  .ContenidoVistaHome .col-sm-4 {padding: 0; margin-bottom: 40px;}
    .ContenidoVistaHome .margin-bottom {margin-bottom: 0px;}
    .ContenidoArticulos .Div-Articulo {height: 22em; width: 100%; }
    .Div-Topico h5 {font-size: 0.85em;}
    .ContenidoArticulos .col-sm-4 {margin-bottom: 2em}
    .ContenidoArticulos .titulo-articulo{font-size: 1.2em}

}
