

/* Css generales de la vista*/
.ContenidoVistaConfiguracion .no-padding{padding: 0;}
.ContenidoVistaConfiguracion #subtitulo-vista{color: #EDEEEF; margin-top: 2vh;}

.ContenidoVistaConfiguracion .topics-chart-container{padding:30px;}



/*Sección Fuentes*/
.ContenidoVistaFuentes .nombre-fuente{color: #EDEEEF; padding-top: 0.6em; font-size: 1.2em; max-width: 90%;}
.ContenidoVistaFuentes .url-fuente{font-weight: bold;color: #627E89; font-size: 0.9em; margin-top: 0.5em; margin-bottom: 0;}
.ContenidoVistaFuentes .Div-Fuente{min-height:9em;margin:0.916%; position: relative; float: left;width: 31.5%; background-color: #25353C;  padding-left: 1em; padding-right: 1em; padding-top: 1em; margin-bottom:0.6em;}
.ContenidoVistaFuentes .margin-top{margin-top: 10vh;}
.ContenidoVistaFuentes .glyphicon-star{font-size: 1.875em;color:#EDEEEF;float: right;}
.ContenidoVistaFuentes {position: absolute;right: 0;left: 0; top: 0;}
.ContenidoVistaFuentes .glyphicon-star:hover{border-bottom: solid; border-width: 2px;  border-color:rgba(88,114,124,1); color: rgba(88,114,124,1);}
.ContenidoVistaFuentes .glyphicon-star.active{color:#FEDD34;border: 0;}
.ContenidoVistaFuentes .wrap_fuentes {margin-left: -0.916%; margin-right: -0.916%;}
.ContenidoVistaFuentes .div-thumbs-down { float: right; right: 10px; margin-top: 2.8em;color:  #e55834;   font-size: 1.875em;  position: absolute; color: #FCFCFC; }
.ContenidoVistaFuentes .dislikes_count{ color: white; font-size: 0.5em; font-weight: bold; display: inline; float: left; margin-right: 5px;margin-top: 0.4em;}
.ContenidoVistaFuentes .glyphicon-thumbs-down {color:white; }

/*Sección Contrasena*/


.Contrasena label { color: #6B828F; font-size: 15px; margin-top:2vh; margin-bottom: 1vh;}
.Contrasena input { color: white;max-width: 600px; background-color: #1A252D; opacity: 1; border-radius: 0; border-width: 1px; border-color: rgba(88,114,124,0.5)}
.Contrasena form {margin-top: 6vh}
.Contrasena {position: absolute;right: 0;left: 0; top: 0;}
.Contrasena .boton_guardar { margin-top: 2vw; margin-left: 0;}


/*Seccion Datos*/


.Datos label { color: #6B828F; font-size: 15px; margin-bottom: 15px;}
.Datos input { color: white;max-width: 600px; background-color: #1A252D; opacity: 1; border-radius: 0; border-width: 1px; border-color: rgba(88,114,124,0.5); padding-right:0;}
.Datos form {margin-top:6vh}
.Datos .row {margin-top:10vh}
.Datos #subir-foto{color:#D64F6F; font-size:17px; text-decoration: underline;}
.Datos .no-margin{margin: 0;}
.Datos #imagen-profile{  width: 150px;  height: 150px;}
.Datos .col-imagen-perfil{text-align: center;}
.Datos {position: absolute;right: 0;left: 0; top: 0;}
.Datos .boton_guardar { margin-left: 15px; margin-top: 3vh;}
.Datos  .boton_bloquear { float: right; margin-right: 15px;}
.Datos  .boton_eliminar { float: right; }
.Datos .row > [class*="col-"] { padding-left: 0 !important; padding-right: 0 !important; }
.Datos .gradient-button {margin-left: 0px;}


/* Entrenamiento */
.Entrenamiento .boton_entrenar { margin-top: 7vh; margin-left: 0;}
.Entrenamiento {position: absolute;}
.Entrenamiento .texto-entrenamiento { color: #EDEEEF; margin-top:9vh; font-size: 1.9vh;}
.Entrenamiento .div-wrap-entrenamiento {padding-left: 0; text-align: justify;}


@media (max-width: 1400px) {

.ContenidoVistaFuentes .nombre-fuente{ font-size: 1em;}
.ContenidoVistaFuentes .url-fuente{font-size: 0.8em;}
.ContenidoVistaFuentes .Div-Fuente {min-height: 8em;}
.ContenidoVistaFuentes .div-thumbs-down {  margin-top: 2.2em;}

}

@media (max-width: 1199px) {
  .ContenidoVistaFuentes .Div-Fuente {width: 48%; margin:1%; min-height: 8em;}
  .ContenidoVistaFuentes .wrap_fuentes {margin-left: -2%; margin-right: -2%;}
  .Datos .row {margin-top:40px}
  .Contrasena form {margin-top: 30px}

}




@media (max-width: 767px) {
  .ContenidoVistaFuentes .margin-top {margin-top: 1.5em;}
    .ContenidoVistaFuentes .wrap_fuentes {margin-left: 0; margin-right: 0;}
  .ContenidoVistaFuentes .Div-Fuente {width: 100%; margin-left: 0; margin-right: 0; min-height: 7em;}
  .ContenidoVistaConfiguracion #subtitulo-vista {margin-top: 0;}
}
