

/*Css generales de la vista */

.ListasTopicos{ list-style-type: none ; padding:0; }
.ContenidoVistaTopicos .row{ margin-left:0; margin-right: 0;}
.ContenidoVistaTopicos .row-no-padding > [class*="col-"] { padding-left: 0 !important; padding-right: 0 !important; }
.ContenidoVistaTopicos .col-lg-6{ padding: 0; }
.ContenidoVistaTopicos {position: absolute;left: 0;right: 0;}







/*Sección MostrarTopicos*/


.ContenidoVistaTopicos .div-keywords { width: 92%;background-color: #23313A; height: 80px; padding: 1.25em; }
.ContenidoVistaTopicos .div-relacion{ width: 8%;background-color:#35424E; height: 80px; text-align: center;padding-top: 25px; padding-left: 0; padding-right: 0;}
.div-relacion.relacion-mf{border-left: 0.375em solid #5CACC4;}
.div-relacion.relacion-d{border-left: 0.375em solid #ECB775;}
.div-relacion.relacion-f{border-left: 0.375em solid #87D597;}
.div-relacion.relacion-md{border-left: 0.375em solid #FF5C55;}
.relacion-d{color: #ECB775; font-weight: bold; margin-top: 0;}
.relacion-f{color: #87D597; font-weight: bold; margin-top: 0;}
.relacion-mf{color: #5CACC4; font-weight: bold; margin-top: 0;}
.relacion-md{color: #FF5C55; font-weight: bold; margin-top: 0;}
.div-keywords  .keywords{font-size: 0.875em;color: #6B828F;margin-top: 0;font-weight: bold; max-width:70%;}
.ContenidoVistaTopicos  .nombre-topico{font-size: 1.125em;color: #EDEEEF; margin-top: 0px; margin-bottom: 5px; font-weight: bold; }
.ContenidoVistaTopicos .coherencia{color: #6B828F; font-size: 0.687em; margin-bottom: 0; font-weight: bold; }
.div-keywords > a.gradient-button { float: right; position: absolute; top: 25%; right: 5%; }
.topico{ margin-bottom: 1.5625em; }
.texto-clase-relacion { font-size: 0.875em}


@media (max-width: 1024px) {
  .ContenidoVistaTopicos .div-keywords { width: 90%;}
  .ContenidoVistaTopicos .div-relacion{ width: 10%;}
}


@media (max-width: 768px) {
  .ContenidoVistaTopicos .div-keywords { width: 96%; height: 120px; padding-left:10px; }
  .ContenidoVistaTopicos .div-relacion{ width: 2%; height: 120px;}
  .div-keywords  .keywords{max-width:55%;}
  .div-keywords > a.gradient-button { font-size: 0.85em ;top: 40%; right: 3%; }
  .div-relacion.relacion-mf{background-color: #5CACC4;border-left: 0 solid #5CACC4;}
  .div-relacion.relacion-d{background-color: #ECB775;border-left: 0 solid #5CACC4;border-left: 0.375em solid #ECB775;}
  .div-relacion.relacion-f{background-color: #87D597;border-left: 0 solid #5CACC4;border-left: 0.375em solid #87D597;}
  .div-relacion.relacion-md{background-color: #FF5C55;border-left: 0 solid #5CACC4;border-left: 0.375em solid #FF5C55;}
  .ContenidoVistaTopicos  .texto-clase-relacion {display: none;}
  .ContenidoVistaTopicos .coherencia{display: none;}
}
