

/* Css generales de la vista*/
.ContenidoVistaUsuarios {position: absolute;left: 0;right: 0;}
.ContenidoVistaUsuarios .no-padding{padding: 0;}
.ContenidoVistaUsuarios #subtitulo-vista{color: #EDEEEF; margin-top: 2vh;}





@media (max-width: 1400px) {

.ContenidoVistaFuentes .nombre-fuente{ font-size: 1em;}
.ContenidoVistaFuentes .url-fuente{font-size: 0.8em;}
.ContenidoVistaFuentes .Div-Fuente {min-height: 8em;}

}

@media (max-width: 1199px) {
  .NavBar  li{ margin-bottom: 30px;}
  .NavBar {margin-top: 50px;}
}




@media (max-width: 767px) {
  .ContenidoVistaConfiguracion .NavBar { margin-top: 2em;}
  .ContenidoVistaConfiguracion .NavBar > li{ margin-bottom: 3em;}
  .ContenidoVistaConfiguracion #subtitulo-vista {margin-top: 0;}
}
