

/* Css generales de la vista*/
.ContenidoVistaDetalleTopico .no-padding{padding: 0;}
.ContenidoVistaDetalleTopico #subtitulo-vista{color: #EDEEEF; margin-top: 60px; font-weight: bold;}
.ContenidoVistaDetalleTopico { position: absolute;left: 0; right: 0;}
.ContenidoVistaDetalleTopico #volver{color: #6B828F; font-weight: bold; margin: 0; margin-top: 0px; margin-bottom: 5px; cursor: pointer;}
.ContenidoVistaDetalleTopico #left-icon{margin-bottom: 2px;}




.ContenidoVistaDetalleTopico .imagen-articulo {width:100%; object-fit: cover; height: 180px;}
.ContenidoVistaDetalleTopico .titulo-articulo {font-weight: bold;color: #EDEEEF;  font-size: 20px; margin-top: 0;}
.ContenidoVistaDetalleTopico .resumen-articulo {color: #6B828F;  }
.ContenidoVistaDetalleTopico .Div-Articulo {margin-bottom:  3vh}
.ContenidoVistaDetalleTopico #subtitulo-vista-noticias {color: #EDEEEF; margin-top: 4vh; font-weight: bold;}
.ContenidoVistaDetalleTopico .no-padding-left {padding-left: 0}
.ContenidoVistaDetalleTopico .no-padding {padding: 0}
.ContenidoVistaDetalleTopico .margin-top {margin-top: 3vh}
.ContenidoVistaDetalleTopico .resumen-articulo{color: #EDEEEF; padding-right: 10px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; /* number of lines to show */ line-height: 1.2em;        /* fallback */ max-height: 5.8em; font-size: 1.1em}
.ContenidoVistaDetalleTopico .resumen-articulo:after {content: '...'; margin-left: -0.3em;}
.ContenidoVistaDetalleTopico .unsub-button { float: left; margin-top: 10px}
.ContenidoVistaDetalleTopico .sub-button { float: left; margin-top: 10px}
.ContenidoVistaDetalleTopico .row-SeccionGraficos {margin-top: 60px;}
.ContenidoVistaDetalleTopico .graph-div { width: 37%; float:left; margin-left: 5%;}
.ContenidoVistaDetalleTopico .noticas-div {width: 58%; float: left;}
.ContenidoVistaDetalleTopico .wrap-cloud-div { width: 37%; float:left; margin-left: 5%;}
.ContenidoVistaDetalleTopico .wrap-freq-div {width: 58%; float: left;}

.recharts-tooltip-wrapper .recharts-default-tooltip-graph{
  background:rgba(255,255,255,0.6)!important;
  font-weight: bold!important;
  color: #000;
  border: 0px !important;
}

.ContenidoVistaDetalleTopico .glyphicon-question-sign { color:#77828e; margin-left: 5px; font-size: 18px; top: 3px;}
.ContenidoVistaDetalleTopico .glyphicon-question-sign:hover {  border-color:#FEDD34;color: #FEDD34;}


.ContenidoVistaDetalleTopico .box {
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  clear: both;
  font-weight: bold;
}
.ContenidoVistaDetalleTopico .boxLeyenda {width: 15em;}
.ContenidoVistaDetalleTopico  .TextoLeyenda { color:#cfd1d1; font-weight: bold; font-size: 1.1em;}
.ContenidoVistaDetalleTopico  .box-text { color:#cfd1d1; font-weight: bold;font-size: 1.1em;}

.red { background-color: #FF5C55; border-radius: 17px; }

.green { background-color: #87D597; border-radius: 17px; }

.orange { background-color: #ECB775; border-radius: 17px; }
@media (max-width: 1025px) {
  .ContenidoVistaDetalleTopico .graph-div { width: 100%; }
  .ContenidoVistaDetalleTopico .noticas-div {width: 100%;}
  .ContenidoVistaDetalleTopico .wrap-cloud-div { width: 100%;}
  .ContenidoVistaDetalleTopico .wrap-freq-div {width: 100%;}
}
