/* Inputs border color*/
input[type=number].react-inputs-validation__textbox__input___20hDL, input[type=password].react-inputs-validation__textbox__input___20hDL, input[type=phone].react-inputs-validation__textbox__input___20hDL, input[type=text].react-inputs-validation__textbox__input___20hDL{
  font-size: 17px; color: white; background-color: #1A252D; opacity: 1; border-radius: 0; border-width: 1px; border-color: rgba(88,114,124,0.5);
  padding: 3px;
}

input[type=number].react-inputs-validation__textbox__input___20hDL:focus, input[type=password].react-inputs-validation__textbox__input___20hDL:focus, input[type=phone].react-inputs-validation__textbox__input___20hDL:focus, input[type=text].react-inputs-validation__textbox__input___20hDL:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(81, 203, 238, 1);
  outline: 0 none;
}
